body {
    font-family: 'Roboto', sans-serif;
    font-size: $baseFontSize;
    background-color: $white;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 40px;
}