.btn {
    background-color: #0B5FFF;
    border: 1px solid transparent;
    border-radius: $border-radius;
    box-sizing: border-box;
    cursor: pointer;
    color: $white;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: px2rem(18px);
    font-weight: 600;
    line-height: 28px;
    padding: px2rem(13px) px2rem(18px);
    text-decoration: none;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    &:hover {
        background-color: #0053F0;
    }
    &:active {
        background-color: #004AD7;
    }
    &:disabled {
        background-color: #0B5FFF80;
        cursor: not-allowed;
    }
    &--md {
        font-size: px2rem(16px);
        line-height: 24px;
        padding: px2rem(11px) px2rem(16px);
    }
    &--sm {
        font-size: px2rem(14px);
        line-height: 20px;
        padding: px2rem(7px) px2rem(12px);
    }
    &--ghost {
        border: 1px solid #0B5FFF;
        color: #0B5FFF;
        background-color: $white;
        &:hover {
            background-color: #EEF2FA;
        }
        &:active {
            background-color: #EEF2FA;
        }
        &:disabled {
            border-color: rgba(11, 96, 255, 0.5);
            color: rgba(11, 96, 255, 0.5);
            background-color: #EEF2FA;
        }
    }
}